div {
    height: 200px;
    width: 200px;
    background-color: aquamarine;
    transition: 1s;
    transition-delay: 1s;
    margin: 0 auto;
    transition: margin-top 2s ease-out;
}
div:hover {

    background-color: blueviolet;
    border-radius: 50%;
    margin-top: 400px;
}