.container {
    width: 600px;
    height: 300px;
    background-color: rgb(174, 205, 0);
    border: solid black;
    display: flex;
    display: grid;
    grid-template-rows: 50px 50px 50px 50px 50px;
    grid-template-columns: 200px 200px 200px;
}

.item {
    width: 100px;
    height: 50px;
    background-color: greenyellow;
    border: 2px solid rgb(0, 0, 0);
text-align: center;

}